<footer class="page-footer center-align white grey-text text-darken-3" style="border-top: solid 1px #e0e0e0;">
  <div class="container text-black">
    <a target="_blank" href="">Điều khoản dịch vụ</a>
    |
    <a target="_blank" href="">Chính sách bảo mật</a>
    <br>
    &copy; 2015 bởi P
    <a href="https://plus.google.com/105098613444802188599" rel="publisher"
       style="display: none">Google+</a>
  </div>
</footer>