{% macro menu_item(content,list_active, link) %}
  {% if request.path in list_active %}
    <a href="{{ link }}" class="collection-item active"><i class="material-icons tiny">send</i> {{ content }}</a>
  {% else %}
    <a href="{{ link }}" class="collection-item">{{ content }}</a>
  {% endif %}
{% endmacro %}
<ul class="collapsible" data-collapsible="expandable">
  <li>
    <div class="collapsible-header active" style="background-color: #F8F8F8">URL</div>
    <div class="collapsible-body">
      <ul class="collection">
        {{ menu_item('Danh sách', [url_for('url')], url_for('url')) }}
      </ul>
    </div>
  </li>
</ul>