{% extends "layouts/html.j2" %}
{% block page_body  %}
  <section>
    <blockquote>
      <h4>Chi tiết tài khoản</h4>
    </blockquote>
  </section>
  <div class="col s12 l8">
    <table>
      <tbody>
      <tr>
        <td><b>Tên đăng nhập</b></td>
        <td>{{ acc.username }}</td>
      </tr>
      <tr>
        <td><b>Tên đầy đủ</b></td>
        <td>{{ acc.name }}</td>
      </tr>
      <tr>
        <td><b>Email</b></td>
        <td>{{ acc.email }}</td>
      </tr>
      <tr>
        <td><b>Số điện thoại</b></td>
        <td>{{ acc.phone }}</td>
      </tr>
      <tr>
        <td><b>Thời gian tạo</b></td>
        <td>{{ acc.time_created }}</td>
      </tr>

      <tr>
        <td><b>Chỉnh sửa dữ liệu lần cuối</b></td>
        <td>{{ acc.time_modify }}</td>
      </tr>
      <tr>
        <td><b>Đang hoạt động</b></td>
        <td>{{ acc.status }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col s12 l4">
    <a class="btn-flat waves-effect modal-trigger"
       href="#">
      <i class="material-icons left">edit</i>
      Reset mật khẩu
    </a>
    <div class="divider"></div>
    <a class="btn-flat waves-effect modal-trigger"
       href="{{ url_for('account/delete', acc_id= acc.key.id()) }}">
      <i class="material-icons left">delete_forever</i>
      Xóa
    </a>
  </div>

{% endblock %}