{% extends "layouts/html.j2" %}
{% block page_body  %}
  <section>
    <blockquote>
      <h4>URL Shortener</h4>
    </blockquote>
  </section>
  {% import "forms.j2" as forms %}
  <div class="container">
  {% include "_flashes.j2" %}
    <form action="" method="post">
    <div class="row">
      <div class="col l8 m12 s12">
        {{ forms.input_row(
              'url_output',
              label='Your URL',
              value=form_data.url_output,
              error=form_errors.url_output,
              type='text') }}
        <div class="row center">
          <button
              type="submit"
              name = 'add'
              class="btn"
          >
            Thêm <i class="material-icons right">send</i></button>
        </div>
      </div>
    </div>
    </form>

  </div>

{% endblock %}