{% extends "layouts/html.j2" %}
{% block page_body  %}
  <section>
    <blockquote>
      <h4>Chi tiết đường dẫn</h4>
    </blockquote>
  </section>
  <div class="col s12 l8">
    <table>
      <tbody>
      <tr>
        <td><b>Đường dẫn nguồn</b></td>
        <td>{{ url.url_input }}</td>
      </tr>
      <tr>
        <td><b>Đường dẫn đích</b></td>
        <td>{{ url.url_output }}</td>
      </tr>
      <tr>
        <td><b>Thời gian tạo</b></td>
        <td>{{ url.time_created }}</td>
      </tr>

      <tr>
        <td><b>Chỉnh sửa dữ liệu lần cuối</b></td>
        <td>{{ url.time_modify }}</td>
      </tr>
      <tr>
        <td><b>Đang hoạt động</b></td>
        <td>{{ url.status }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col s12 l4">
    <a class="btn-flat waves-effect modal-trigger"
       href="{{ url_for('url/edit', url_id= url.key.id()) }}">
      <i class="material-icons left">edit</i>
      Sửa
    </a>
    <div class="divider"></div>
    <a class="btn-flat waves-effect modal-trigger"
       href="{{ url_for('url/delete', url_id= url.key.id()) }}">
      <i class="material-icons left">delete_forever</i>
      Xóa
    </a>
  </div>

{% endblock %}