{% extends "layouts/html.j2" %}
{% block page_body  %}
  <section>
    <blockquote>
      <h4>Xem danh sách</h4>
    </blockquote>
  </section>
  {% include "_flashes.j2" %}

  <table>
    <thead>
    <tr>
      <th>Url nguồn</th>
      <th>Url đích</th>
      <th>Thời gian tạo</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    {% for url in list_url %}
      {% if url %}
        <tr>
          <td>{{ url.url_input }}</td>
          <td>{{ url.url_output }}</td>
          <td>
            <div>
              <a href="{{ url_for('url/view', url_id = url.key.id()) }}"><i class="material-icons">info</i></a>
              <a href="{{ url_for('url/edit', url_id= url.key.id()) }}">
                <i class="material-icons left">mode_edit</i>
              </a>
              <a href="{{ url_for('url/delete', url_id= url.key.id()) }}"
                 onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                <i class="material-icons left">delete_forever</i>
              </a>
            </div>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large" href="{{ url_for('url/add') }}">
      <i class="material-icons">add</i>
    </a>
  </div>

{% endblock %}