{% extends "layouts/http_error.j2" %}

{% block error_title %}500 Lỗi hệ thống{% endblock %}
{% block error_desc %}
  Phát hiện lỗi hệ thống hoặc trục trặc thông tin với tài khoản của bạn.
{% endblock %}